{% extends 'layout.html' %}
{% block content %}
<div class="about-us">
    
    <h2 class="BS">Our Mission</h2>
    <p>Our mission is to provide a fast, secure, and user-friendly platform for file sharing. <br> We aim to make file sharing accessible for everyone, whether for personal or professional use.</p>

    <h2 class="BS">Features</h2>
    <ul>
        <li>Upload and share files easily</li>
        <li>Download files securely</li>
        <li>Simple user interface</li>
        <li>Supports a wide range of file types</li>
    </ul>
    <h1 class="BS" >Details To Contact</h1>
        <p><strong>Name:</strong> Ramakrishna</p>
        <p><strong>Email:</strong> levakuramakrishnareddy4d2@gmail.com</p>
        <p><strong>Mobile:</strong> 8688213041</p>
        <p>We are a team dedicated to providing a seamless and secure file-sharing experience. Feel free to reach out to us for any inquiries or support.</p>
</div>
<style>
    .BS{
        margin-left: 300px;
        text-align: left;
        color: blue;
        
    }
    li{
        color: black;
        font-size: medium;
    }
    p{
        color: black;
        font-size: medium;
    }
</style>
{% endblock %}
   