{% extends 'layout.html' %}
{% block content %}
    <div class="content">
        <h1 style="color: brown;">Welcome to RK File Sharing</h1>
        <p style="color: blueviolet;">Share all types of files securely.</p>
        <p style="color: rgb(14, 10, 2);">Welcome to RK File Sharing! Share and manage all your files with ease. <br> Our platform supports a variety of file types including images, videos, audio, documents, and more. <br> Sign up now to start sharing files securely.</p>

    </div>
{% endblock %}
